<span class="label label-default" ng-if="!status">Não Alterado</span>
<span class="label label-success" ng-if="status == 'new'">Novo</span>
<span class="label label-info"    ng-if="status == 'edit'">Alterado</span>
<span class="label label-danger"  ng-if="status == 'delete'">Remover</span>