﻿<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.obj">
            <td>{{item.nome}}</td>
            <td ngf-status status=item.status></td>
        </tr>
    </tbody>
</table>